/* Common tags */
body
{
    color: #393733;
    text-align: center;
    background: #FFFFFF;
    padding: 0px;
    margin: 0px;
}

body, td, th, textarea, input, select, h2, h3, h4, h5, h6
{
    font: 83%/1.4 arial, helvetica, sans-serif;
}

img
{
    border: none;
}

a
{
    text-decoration: none;
}

pre
{
    font-size: 10pt;
}

/* Header/Menu */
#header
{
    background-image: url('../Media/wrench.png');
    background-repeat: no-repeat;
    background-color: #326A9A;
    height: 65px;
    text-align: right;
    color: White;
    padding-right: 10px;
}

#topmenu
{
    color: White;
    height: 35px;
    background-color: #4E4E4E;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
}

#topmenu ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

#topmenu li
{
    float: left;
    height: 35px;
}

#topmenu li:hover
{
    background-color: #5084C5;
    background-color: #326A9A;
}

#topmenu a
{
    display: block;
    padding: 6px 10px 0px 10px;
    font-weight: bold;
    color: #FFF;
}

#topmenu a img
{
    margin: 0px 7px 0px 0px;
}

/* Main Content */
#content
{
    text-align: left;
    overflow: auto;
}

#line-background
{
    background-image: url('../Media/treebg.png');
    background-repeat: repeat-y;
    height: 100%;
}

#left-content
{
    float: left;
    width: 186px;
    padding-top: 5px;
    margin-right: 5px;
    overflow: hidden;
}

#right-content
{
    padding-top: 0px;
    overflow: auto;
    height: 100%;
}

.right-content-pad
{
    margin: 6px 10px 0px 10px;
    width: 865px;
}

/* Footer */
#footer
{
    border-top: 1px solid Gray;
    clear: both;
    background-color: #326A9A;
    color: #FFFFFF;
    margin: 0;
    padding: 0px 15px;
}

#footer td.text
{
    padding: 0 15px;
}

#footer td.text a
{
    color: White;
    font-weight: bold;
}

/* TreeMenu */
.treemenu
{
    margin: 0;
    padding: 0;
    color: #000000;
}

.treemenu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.treemenu ul li
{
    white-space: nowrap;
    padding: 1px 0 0px 0;
}

.treemenu ul ul
{
    margin: 2px 0 2px 10px;
}

.treemenu ul li img
{
    border: none;
    vertical-align: middle;
    margin: -2px 5px 0 0;
}

.treemenu ul li a
{
    text-decoration: none;
    font-size: 12px;
}

.treemenu li.leaf
{
    margin-left: 15px;
}

.treemenu .collapse
{
    background: url('../Media/collapse.gif') no-repeat 0 0;
    width: 15px;
    margin-right: 7px;
    float: left;
    cursor: pointer;
    font-family: Courier;
    font-size: 10px;
    line-height: 15px;
}

.treemenu .expand
{
    background: url('../Media/expand.gif') no-repeat 0 0;
    width: 15px;
    margin-right: 7px;
    float: left;
    cursor: pointer;
    font-family: Courier;
    font-size: 10px;
    line-height: 15px;
}

.treemenu .none
{
    width: 15px;
    margin-right: 7px;
    float: left;
    cursor: pointer;
    font-family: Courier;
    font-size: 10px;
    line-height: 15px;
}

.treemenu a, .treemenu a:visited, .treemenu a:active, .treemenu a:hover, .treemenu a:link
{
    color: #000000;
}

/* Breadcrumb Bar */
.breadcrumb
{
    border-left: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    background-image: url('BreadCrumb/bc_bg.png');
    background-repeat: repeat-x;
    height: 20px;
    line-height: 20px;
    color: #454545;
    border-top: 0px;
    width: 100%;
    overflow: hidden;
    margin-left: -2px;
    padding: 0px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.breadcrumb li
{
    list-style-type: none;
    float: left;
    padding-left: 10px;
}

.breadcrumb a
{
    height: 20px;
    display: block;
    background-image: url('BreadCrumb/bc_separator.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 15px;
    text-decoration: none;
    color: #454545;
}

.breadcrumb a:hover
{
    text-decoration: underline;
}

.clearer
{
    clear: both;
}

/* StatusStrip
----------------------------------------------------------------------------------------------------*/
.statusstrip
{
    padding-left: 0px;
    overflow: hidden;
    margin: 2px 0 0 0;
}

.statusstrip li
{
    height: 22px;
    list-style: none;
    float: left;
    background-color: #EBEBEB;
    background-repeat: no-repeat;
    background-position: right top;
    color: #000;
    width: 68px;
    padding: 3px 0 0 7px;
}

.statusstrip li.stripend
{
    background-image: none;
    width: 58px;
}

.statusstrip li a
{
    color: #000;
}

.statusstrip li a:hover
{
    text-decoration: underline;
}

.statusstrip li.notrun a
{
    color: #777;
}

/* Revision Status States */
.statusstrip li.fail        { background-color: #F36868; }
.statusstrip li.testfail    { background-color: #FFCC66; }
.statusstrip li.executing   { background-color: #FFF095; }
.statusstrip li.success     { background-color: #A5E368; }
.statusstrip li.cell-header     { background-color: #FFFFFF; }

/* Transition States */
li.g_gr     { background-image: url(StatusStrip/g_gr.png); }
li.g_g      { background-image: url(StatusStrip/g_g.png); }
li.g_r      { background-image: url(StatusStrip/g_r.png); }
li.g_y      { background-image: url(StatusStrip/g_y.png); }
li.g_o      { background-image: url(StatusStrip/g_o.png); }

li.r_g      { background-image: url(StatusStrip/r_g.png); }
li.r_gr     { background-image: url(StatusStrip/r_gr.png); }
li.r_r      { background-image: url(StatusStrip/r_r.png); }
li.r_y      { background-image: url(StatusStrip/r_y.png); }
li.r_o      { background-image: url(StatusStrip/r_o.png); }

li.gr_gr    { background-image: url(StatusStrip/gr_gr.png); }
li.gr_r     { background-image: url(StatusStrip/gr_r.png); }
li.gr_g     { background-image: url(StatusStrip/gr_g.png); }
li.gr_y     { background-image: url(StatusStrip/gr_y.png); }
li.gr_o     { background-image: url(StatusStrip/gr_o.png); }

li.y_g      { background-image: url(StatusStrip/y_g.png); }
li.y_gr     { background-image: url(StatusStrip/y_gr.png); }
li.y_r      { background-image: url(StatusStrip/y_r.png); }
li.y_y      { background-image: url(StatusStrip/y_y.png); }
li.y_o      { background-image: url(StatusStrip/y_o.png); }

li.o_g      { background-image: url(StatusStrip/o_g.png); }
li.o_gr     { background-image: url(StatusStrip/o_gr.png); }
li.o_r      { background-image: url(StatusStrip/o_r.png); }
li.o_y      { background-image: url(StatusStrip/o_y.png); }
li.o_o      { background-image: url(StatusStrip/o_o.png); }

li.row-header { background-image: none; background-color: #FFFFFF; font-weight: bold; }

/* Step list */
.steplist
{
	border-collapse: collapse;
	font-size: 12px;
	text-align: left;
	width: 700px;
}

.steplist th
{
	background: #b9c9fe;
	border-bottom: 1px solid #fff;
	border-top: 4px solid #aabcfe;
	color: #039;
	font-size: 13px;
	font-weight: 400;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #67a7e3;
}

.steplist tr
{
	background: #e5ecf3;
}

.steplist td
{
	border-bottom: 1px solid #fff;
	border-top: 1px solid transparent;
	font-size: 12px;
	color: #669;
	padding: 5px;
}

/* Commit Header */
#commit
{
    overflow: hidden;
    border: 1px solid #8EAACE;
    padding: 0 .7em .7em .7em;
    background-color: #E9F2FF;
    margin: 10px 0 15px;
	-moz-border-radius: 3px;
}

#commit .human
{
    padding-top: .7em;
    float: left;
    width: 40em;
}

#commit .human .revision
{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    float: right;
}

#commit .human .actor
{
    clear: left;
    margin-bottom: 2px;
}

#commit .human .actor .gravatar
{
    height: 30px;
    width: 30px;
    border: 1px solid #d0d0d0;
    padding: 2px;
    background-color: white;
    float: left;
    margin-right: .5em;
	-moz-border-radius: 3px;
}

#commit .human .actor .name
{
    line-height: 18px;
    font-size: 13px;
}

#commit .human .actor .date
{
    color: #888;
    line-height: 15px;
    font-size: 12px;
}

#commit .machine
{
    float: right;
    width: 20em;
    padding: .7em 0 .7em .7em;
    border-left: 1px solid #8EAACE;
    color: #808080;
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    font-size: .85em;
    line-height: 1.5em;
}

/* Step table */
#build-steps
{
	border-top: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
	border-collapse: collapse;
	padding: 0px;
	width: 100%;
	color: #696969;
    font-family: Verdana,Helvetica,Sans-Serif;
    font-size: 14px;
    margin-bottom: 15px;
}

#build-steps td
{
	padding: 4px;
}

#header td
{
	padding: 0px 4px 0px 4px;
	font-size: 1.4em;
	vertical-align: middle;
	line-height: 1.4em;
}

#build-steps th
{
	padding: 6px 5px;
	text-align: left;
	background-color: #EAEAEA;
	color: #000000;
	border-bottom: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
}

#build-steps tr.odd
{
	background-color: #FBFBFB;
}

#build-steps .pre-space
{
    white-space: pre;
    font-family: monospace;
	font-size: 1.2em;
}

#build-steps td.status-column
{
    padding: 5px 0px 5px 5px;
    width: 2px;
    background-color: #ebebeb;
	border-left: solid 1px #ebebeb;
}

#build-steps .icon-column
{
    padding: 5px 0px 5px 5px;
    width: 18px;
}

#build-steps .wide
{
    width: 150px;
}

#build-steps .center-text
{
    text-align: center;
}

#build-steps .vertical-top
{
    vertical-align: top;
}

#build-steps img
{
	border: 0;	
}

#build-steps td.fail        { background-color: #F36868; border-left-color: #F36868; }
#build-steps td.testfail    { background-color: #FFCC66; border-left-color: #FFCC66; }
#build-steps td.executing   { background-color: #FFF095; border-left-color: #FFF095; }
#build-steps td.success     { background-color: #A5E368; border-left-color: #A5E368; }

#build-steps tr.fail        { background-color: #FFDDDD; }
#build-steps tr.testfail    { background-color: #FFCC66; }
#build-steps tr.executing   { background-color: #FFF095; }

.buglist
{
    width: 330px;
    background-color: #eeeeee;
    border: solid 1px #cccccc;
    padding: 5px;
    color: Black;
    font-size: 12px;
    -moz-border-radius: 5px;
    margin: 10px;
}

.buglist table tr td a
{
    color: #000000;    
}

.buglist table tr td a:hover
{
    text-decoration: underline;    
}

.buglist table tr td
{
    font-size: 12px;
}

.buglist table tr td.strike
{
    text-decoration: line-through;
}

.bugchart
{
    width: 330px;
    background-color: #ffffff;
    border: solid 1px #cccccc;
    padding: 5px;
    color: Black;
    font-size: 16px;
    font-weight: bold;
    -moz-border-radius: 5px;
    margin: 10px;
    text-align: center;
}

.bugtitle
{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}